@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Oswald:wght@300&display=swap");
@import url("https://css.gg/css");
* {
margin: 0px;
}
html body {
width: 100%;  
overflow-x: hidden;
}
body {
  background-color: #b394f1;
}

body header {
  display: flex;
}

h1 {
  margin: 70px 0px 0px 60px;
}

.nav-bar {
  display: flex;
  gap: 60px;
  margin: 0px 0px 0px 400px;
  background: rgb(105, 45, 170);
  background: linear-gradient(
    90deg,
    rgba(105, 45, 170, 1) 45%,
    rgba(179, 148, 241, 1) 100%
  );
  width: 1000px;
  position: fixed;
  height: 90px;
}
@media(max-width: 768px){
  .nav-bar{
display: none;
opacity: 0;
  }
}
ul li {
  display: flex;
  align-items: center;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.7em;
}
i {
  margin-right: 10px;
  margin-top: 3px;
}

.sobre-mi {
  max-width: 60%;
  font-size: 2em;
  margin-left: 10%;
  margin-top: 10vh;
  margin-bottom: 260px;
}
@media(max-width: 768px){
  .sobre-mi{
 font-size: 1.7rem;
 text-align: center;
  }
}
.container-sobreMi {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media(max-width: 768px){
  .container-sobreMi{
display: flex;
flex-direction: column;
justify-content: center;
  }
}
.img-perfil {
  border-radius: 50%;
  height: 500px;
  padding-left: 100px;
}
@media(max-width: 768px){
  .img-perfil{
  height: 200px;
  }
}

.section-tecnologias {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 10ex;
}

.tecnologias {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.container-tecnologias {
  display: grid;
  grid-template-columns: repeat(3, 300px);
}

@media(max-width: 768px){
  .container-tecnologias{
  display: flex;
  flex-direction: column;
  }
}
.certificados {
  display: flex;
  justify-content: center;
}
@media(max-width: 768px){
  .certificados{
 display: flex;
 flex-direction: column;
justify-content: center;
align-items: center;
width: 800px;
  }
}
.img-certificados {
  margin: 20px;
  width: 40%;
  animation-delay: 5s;
}

.container-tecnologias i {
  color: #2d134e;
}
.section-proyectos{
    scroll-margin-top: 15ex;
}



.container-proyectos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 20px black;
}
@media(max-width: 768px){
  .container-proyectos{
 display: flex;
 flex-direction: column;
 gap:70px;
  }
}
.container-proyectos a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 2em;
}
.container-proyectos a:hover{
    opacity: .4;
}

.imagenes-proyectos {
  width: 80%;
  height: 80%;
}
.section-contacto{
  display: flex;
  flex-direction: column;
 justify-content: center;
}
@media(max-width: 768px){
  .section-contacto{
 display: flex;
 flex-direction: column;
  }
}
 h2 {
  font-size: 3em;
  text-align: center;

}
.section-contacto a {
  scroll-margin-top: 10ex;
  text-decoration: none;
  color: #2d134e;
  font-size: 20px;

}
.container-textos{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center; 
font-size: 2em;
}

.container-logos-contacto{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 90px;
}
@media(max-width: 768px){
  .container-logos-contacto{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
  }
}
.container-text{
  
}

